body{
  background-color: #6f6f6f!important;
  height: 100%;
}
html{
  height: 100%!important;
}

#root {
  height: 100%;
}

*{
  font-family: 'Lato', serif;
}

@media (max-width: 766px) {
  #route{
    margin-left: 30%;
  }
}